.container-pokedex {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.back-arrow {
  margin-right: 10px;
  margin-bottom: 370px;
}

.body-pokedex {
  background-color: #f5f5f5;
  border: 3px solid black; 
  border-radius: 35px; 
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 420px;
  max-width: 500px;
  width: 100%;
  background: linear-gradient(135deg, #ff3333, #888888);
  background-size: cover;
  color: white; 
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  position: relative;
}

.body-pokedex h2 {
  font-size: 24px;
  margin: 0;
  color: white; 
  text-transform: uppercase;
}

.body-pokedex p {
  font-size: 16px;
  margin: 10px 0;
  color: white; 
}

.body-pokedex h2,
.body-pokedex p {
  font-size: 16px;
  margin: 10px 0;
  color: white;
}

.body-pokedex img {
  max-width: 100%;
  height: auto;
  
    width: 200px;
    height: 200px; 
    max-width: 100%;
  }


.body-pokedex .description {
  font-size: 14px;
  color: white; 
}

